.container{
    margin:14px 0;
}

.container a{
    display:block;
    height:63px;
    width:auto;
    padding-left:100px;
    border:#F2F2F2 1px solid;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom:8px;
}

.help{
    background-image:url(../images/help.svg),url(../images/next.svg);
    background-position:50px center,right 12px center;
    background-repeat:no-repeat,no-repeat;
    background-size:14px 22px,5px 12px; 
}
.help:hover{
    background-color: #F2F2F2;
    background-image:url(../images/help.svg),url(../images/next_on.svg);
}
.fav{
    background-image:url(../images/favorite.svg),url(../images/next.svg);
    background-position:50px center,right 12px center;
    background-repeat:no-repeat,no-repeat;
    background-size:18px 17px,5px 12px; 
}
.fav:hover{
    background-color: #F2F2F2;
    background-image:url(../images/favorite.svg),url(../images/next_on.svg);
}