/* 全体 */
*{
    margin:0;
    padding:0;
}
body{
    background:#fff;
    color:#5B5B5B;
    font-size:14px;
}
a:link,a:visited{
    color:#5B5B5B;
    text-decoration:none;
}
a:hover, a:active{
    color:#5B5B5B;
    text-decoration:none;
}
/* 全体 */

/* header */
.header{
    background:#639CBF;
    color:#fff;
    height:64px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.header .hContents{
    position: absolute;
    top: 15px;
    right:30px;
    width:24px;
}
.hBack2{
    position: absolute;
    top: 22px;
    left: 36px;
    width:6.43px;
}
/* header */

/* fixed */
.scanIcon{
    position:fixed;
    bottom: 30px;
    right: 24px;
    width: 78px;
    height:78px;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
/* fixed */